/* About.css */
.about-container {
  background-color: #FEFAE0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px;
  display: flex;
  flex-direction: column;
   /* Center horizontally */
}

.about-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center; /* Center text */
}

.about-container h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; /* Center text */
}

.about-container h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-container ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-container li {
  font-size: 16px;
  margin-bottom: 10px;
}

@media (max-width: 1024px) {
  .about-container {
    padding: 20px;
  }

  .about-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .about-container h2 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .about-container h3 {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .about-container p {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .about-container li {
    font-size: 14px;
    margin-bottom: 8px;
  }
}
