/* Header.css */

.header-container {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  position: relative;
  justify-content: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add the shadow here */
}

.landing-name {
  font-size: 1.5rem;
  margin-right: auto;
  margin: 0.1rem 0.1rem 0.5rem; 
  padding-right: 8rem;
  text-decoration: none; 
  color: #000; 
}

h1 {
  margin: 0.5rem 0;
}

.nav-links,
.action-links {
  display: none;
}

.nav-links a:visited,
.action-links a:visited {
  color: #000;
}

.hamburger-menu {
  display: block;
}

.action-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding: 8px 12px;
  background-color: #606C38;
  color: #fff;
  border-radius: 9999px;
  text-decoration: none;
  transition: all 0.3s ease;
  outline: none;
  cursor: pointer;
}

.action-links a:hover,
.action-links a:focus {
  background-color: #283618;
}

.action-links a:active {
  background-color: #283618;
}



/* Media query for screens over 1025 pixels */
@media (min-width: 1026px) {
  .landing-name {
    margin-right: 1rem;
  }

  .nav-links,
  .action-links {
    display: flex;
    align-items: center;
     font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }

  .nav-links a,
  .action-links a {
    color: #000;
    margin-left: 1rem;
    text-decoration: none;
  }

  .nav-links a:hover,
  .action-links a:hover {
    text-decoration: underline;
  }

  .nav-links a:visited,
  .action-links a:visited,
  .landing-name a:visited {
    color: #000;
  }

  .nav-links {
    display: flex;
    align-items: center;
    margin-left: -20rem; /* Adjust the value as needed */
  }

  .hamburger-menu {
    display: none;
    padding-bottom: 4px;

  }
  
  .header-container {
    justify-content: space-between;
  }
}



/* Media query for screens under 1025 pixels */
@media (max-width: 1025px) {
  .nav-links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .nav-links.show a {
    margin-bottom: 1rem;
  }

  .action-links {
    display: flex;
    align-items: center;
  }

  .action-links  {
    display: none;
  }

  .action-links .donate-link {
    font-size: 1.5rem; /* Adjust the font size */
    margin-right: auto;
    padding-right: 1rem;
  }

  .hamburger-menu {
    display: block;
    padding-bottom: 4px;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .nav-links a {
    display: inline-block;
    padding-left: 3rem;
    padding-top: 1.25rem; 
    padding-bottom: 1rem; 
    color: #000; 
  }

  /* Media query for screens under 400 pixels */
  @media (max-width: 400px) {
    .header-container {
      flex-wrap: wrap;
    }
  }
}
